.Createadmin{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // background: radial-gradient(circle,rgb(255, 255, 255) 0%,rgb(16, 16, 51) 100%);

    .creat-admin-wrap{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .admin-wrapleft{
            width: 400px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            // border: 2px solid red;

            form{
                width: 100%;
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .row{
                    width: 60%;
                    height: 40px;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 30px;
                    .pass-input{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        input{
                            width: calc(100% - 40px);
                            height: 100%;
                            background: rgb(227, 227, 227);

                        }
                        button{
                            width: 40px;
                            height: 100%;
                            border: none;
                            outline: none;
                            background: rgb(227, 227, 227);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            &:hover{
                                background: rgb(210, 210, 210);
                            }
                        }
                    }
                    

                    input{
                        width: 100%;
                        height: 100%;
                        padding-left: 15px;
                        border: none;
                        background: rgb(227, 227, 227);
                        outline: none;
                        

                    }
                    .reg-btn{
                        width: 60%;
                        height: 100%;
                        background: var(--main-color);
                        color: aliceblue;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 30px;
                        cursor: pointer;
                        &:hover{
                            background: rgb(255, 255, 255);
                            border: 1px solid var(--main-color);
                            color: var(--main-color);
                        }
                    }
                }
            }
        }
        .admin-wrapright{
            width: calc(100% - 400px);
            height: 100%;
            // border: 2px solid rgb(255, 208, 0);
            background: url('https://ik.imagekit.io/dexo68yudb/1000_F_139623630_OEjuPx6krfQ9Ed6EOiNEWh8aQdR1kq5y.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677226357389');
            background-size: cover;
            background-position: center;
            padding: 100px;

            .right-content{
                padding: 20px;
                background: rgba(0, 0, 0, 0.666);
                display: flex;
                flex-direction: column;
                gap: 15px;
                h1{
                    font-size: 50px;
                    color: rgb(255, 255, 255);
                }
                p{
                    color: rgb(255, 255, 255);
                }
                a{
                    text-decoration: none;
                    border: 2px solid white;
                    border-radius: 5px;
                    color: white;
                    padding: 5px 15px;
                    display: inline-block;
                    width: 20%;
                    text-align: center;
                }
            }
            
        }


    }

}