.navbar {
    width: 100%;
    background: rgba(255, 255, 255, 0.558);
    // background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.5s ease;

    // &::before {
    //     content: "";
    //     width: 100%;
    //     height: 5px;
    //     background: #202b3c;
    //     position: absolute;
    //     left: 0;
    //     bottom: 0px;
    // }


    .nav-cont {
        width: 98%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-menu {
            width: 50%;
            height: 100%;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            .logo {
                margin-right: 20px;
            }

            .search-box {
                background: #202b3c;
                height: 40px;
                border-radius: 50px;


                &:hover>.search-btn {
                    background: #fff;
                    color: #202b3c;
                    border: 1px solid;
                }

                &:hover>.search-input {
                    width: 240px;
                    padding: 0 15px;
                }

                .search-input {
                    outline: none;
                    border: none;
                    background: none;
                    width: 0;
                    padding: 0;
                    color: #fff;
                    float: left;
                    font-size: 16px;
                    transition: .3s;
                    line-height: 40px;

                    &:focus+.search-btn,
                    &:not(:placeholder-shown)+.search-btn {
                        background: #fff;
                        color: #202b3c;
                        border: 1px solid;
                    }

                    &:focus,
                    &:not(:placeholder-shown) {
                        width: 240px;
                        padding: 0 15px;
                    }

                    &::placeholder {
                        color: #fcc0c1;
                    }
                }

                .search-btn {
                    color: rgb(0, 0, 0);
                    float: right;
                    width: 40px;
                    height: 40px;
                    font-size: 1em;
                    border-radius: 50px;
                    background: white;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    outline: none;
                    transition: .3s;
                }
            }
        }

        .right-menu {
            width: 50%;
            height: 100%;
            position: relative;

            .nav-item-mobile {
                width: 100%;
                height: 100%;
                display: none;
                justify-content: flex-end;
                align-items: center;
                position: relative;


                button {
                    margin-right: 25px;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 2em;
                    color: var(--main-color);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .nav-items-for-mobl {

                    list-style: none;
                    position: absolute;
                    top: 102%;
                    left: -102%;
                    width: 100vw;
                    visibility: hidden;
                    opacity: 0;
                    overflow: hidden;
                    transition: 0.5s ease;
                    background: white;
                    background: rgba(255, 255, 255, 0.558);

                    &.openedmenu {
                        visibility: visible;
                        opacity: 1;
                        transition: 0.5s ease;
                    }

                    &.navscrleffect {
                        background: white;
                    }

                    .routes-mbl {
                        display: flex;
                        justify-content: center;
                        color: var(--main-color);
                        align-items: center;
                        height: 30px;
                        font-weight: 500;
                        padding: 10px 6px;
                        transition: 0.5s ease;
                        cursor: pointer;
                        position: relative;


                        .menuitmrev {
                            margin-left: 5px;
                        }

                        &:hover {
                            color: var(--main-second-color);
                        }

                        &::before {
                            content: "";
                            width: 0;
                            height: 2px;
                            background: var(--main-second-color);
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            transition: 0.5s ease;

                        }

                        &:hover::before {
                            transition: 0.5s ease;
                            width: 100%;

                        }

                    }
                }
            }

            .nav-items {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 25px;
                list-style: none;

                .routes {
                    display: flex;
                    justify-content: center;
                    color: var(--main-color);
                    align-items: center;
                    height: 30px;
                    font-weight: 500;
                    padding: 10px 6px;
                    transition: 0.5s ease;
                    cursor: pointer;
                    position: relative;

                    .menuitmrev {
                        margin-left: 5px;
                        position: relative;
                        &:hover .dropdownlinks{
                            visibility: visible;
                            opacity: 1;
                            translate: none;
                        }

                        .dropdownlinks {
                            position: absolute;
                            top: 120%;
                            left: -50%;
                            width: 200px;
                            background: white;
                            visibility: hidden;
                            opacity: 0;
                            translate: 0 10px 0;
                            transition: 0.5s ease;
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            gap: 15px;
                            border-top: 2px solid var(--main-second-color);
                            a{
                                border-bottom: 1px solid rgba(208, 208, 208, 0.641);
                                padding-bottom: 8px;
                            }


                        }
                    }

                    &:hover {
                        color: var(--main-second-color);
                    }

                    &::before {
                        content: "";
                        width: 0;
                        height: 2px;
                        background: var(--main-second-color);
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: 0.5s ease;

                    }

                    &:hover::before {
                        transition: 0.5s ease;
                        width: 100%;

                    }

                }
            }
        }
    }
}

.scroll-effect {
    height: 80px;
    transition: 0.5s ease;
    background: rgba(255, 255, 255, 0.726);
}

.custlink {
    text-decoration: none;
    font-weight: 500;
   
    color: var(--main-color);

    &:hover {
        color: var(--main-second-color);
        
    }

}


@media screen and (max-width:990px) {
    .navbar {
        box-shadow: 0 0 20px gray;

        .nav-cont {
            .left-menu {
                .search-box {
                    display: none;
                }
            }

            .right-menu {
                .nav-item-mobile {
                    display: flex;
                }

                .nav-items {
                    display: none;
                }
            }
        }
    }

    .scroll-effect {
        background: white;
    }


}